/*css Sector Coordillera
by Guillermo Montecinos
v0.1 mayo 2017*/

body {
  background-color: rgb(40,40,40)
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    /*set font to the font wanted*/
    font-family: arial;
    /*normal text, no italics, no bold*/
    font-weight: normal;
    /*centered text*/
    text-align: left;
    /*display in block*/
    display: inline-block;
    /*reset margin and padding for google chrome */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    /*no padding (inner space of element)*/
    padding: 1.5%;
    /*margin (outter space of element)*/
    /*first reset, then set actual value wanted*/
    margin: 0.3em;
}

/*css for font sizes of header elements*/
h1{
  font-size: 3em;
}

/*css for links ("a" elements), when hovering over them*/

a:hover {
    /*change opacity of link*/
    color: rgb(40,40,40);
    background-color: rgb(240,240,240);
}

/*css for links ("a" elements)*/
a {
    font-size: 1.5em;
    /*reset of format*/
    text-decoration: none;
    /*set font to avantgarde*/
    font-family: arial;
    /*set color to black*/
    color: white;
}

/*css for html element with id*/
#myHeader h1{
  text-align: center;
  display: block;
}

/*css for element with id myNavMenu*/
#myNavMenu {
    position:relative;
    width: 100%;
    overflow: auto;
    padding-bottom: 5%;
}

/*css for a elements under element with id myNavMenu*/
#myNavMenu a {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}

/*css para el footer*/
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3%;
    text-align: center;
}

#myFooter p {
    padding: 1%;
    text-align: center;
    color: rgb(40,40,40);
    background-color: rgb(240,240,240);

}
